* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}

.logo{
    font-weight: 500;
    font-size: 20;
}

.nav-itens{
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: #202020;
    text-decoration: none;
}